::root {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*------------------BODY------------------------*/
body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*-----------------HEADER-----------------------*/
.container-fluid{
  height: 100vh;
  margin: 0;
  padding: 0;
}
.tittle{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}
#imagen {
  height: 50px;
  width: 50px;
}

#main-content {
  height: 68%;
}
.main {
  background: black;
  height: 100%;
  width: 70%;
}
#main-content img {
  height: 100%;
  width: 100%;
}

#reactor{
  position: absolute;
  height: 80px;
  width: 90px;
  top: 38%;
  left: 18%;
}

#security{
  position: absolute;
  height: 80px;
  width: 55px;
  top: 38%;
  left: 31.5%;
}


@media only screen and (max-width:750px){
  .main {
    width: 100%;
  }
}
