::root {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*------------------BODY------------------------*/
body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*-----------------HEADER-----------------------*/
.container-fluid {
  height: 100%;
}
.navbar {
  width: 100%;
  background-color: #23232e;
}
#imagen {
  height: 50px;
  width: 50px;
}

#main-content {
  height: 70%;
  top: 10%;
}
.main {
  height: 100%;
  width: 70%;
}
#main-content img {
  height: 100%;
  width: 100%;
}

#footer {
  height: auto;
  width: 100vw;
  position: absolute;
  bottom: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

@media only screen and (max-width:750px){
  .main {
    width: 100%;
  }
}
