canvas {
  background-color: black;
  position: absolute;
<<<<<<< HEAD
  top: 56%;
  left: 59%;
  z-index: 3;
  opacity: 1;
=======
  top: 50%;
  left: 50%;
  z-index: 100;
>>>>>>> b0828c90d10728eb6103550427512a86546c0e99
}



<<<<<<< HEAD
.child img {
  left: 61%;
  position: absolute;
  height: 20.4vh;
  width: 25.5vw;
  top: 14%;
  z-index: 6;
}

.carga img{
  position: relative;
  width: 30vw;
  height: 45vh;
  left: 50%;
  z-index: 5;
}

#butDow{
  position: absolute;
  border-radius: 5px;
  padding: 5px 10px;
  top: 68%;
  left: 87%;
  z-index: 6;
  border: none;
}

#butDow:focus{
  outline: none;
}

#butDow:hover{
  background-color: rgb(161, 161, 161);
  color: white;
  outline: none;
}
.porcent{
  position: absolute;
  z-index: 10;
  top: 53%;
  font-weight: 1000;
=======
.child {


  left: 0px;
  position: relative;
  top: 0px;


}

.carga {
  left: 0px;
  position: relative;
  top: 0px;
>>>>>>> b0828c90d10728eb6103550427512a86546c0e99
}