</div>
</div>
<footer class="footer">
    <ul class="navbar-nav">
        <div class="logo">

        </div>
        <div class="iconos-footer">
            <li class="nav-item">
                <a href="#" class="nav-link-footer">
                    <i class="fas fa-home"></i>
                    <span class="link-text-footer">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link-footer">
                    <i class="fas fa-play"></i>
                    <span class="link-text-footer">Game</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link-footer">
                    <i class="fas fa-address-book"></i>
                    <span class="link-text-footer">Contact</span>
                </a>
            </li>
        </div>
    </ul>
</footer>

</div>
</body>
</html>