</head>

<body>
    <div class="container-fluid" style="padding-left: 0; padding-right: 0; padding: 0;">
        <div class="row align-items-start" style="margin: 0;">
            <div class="col-12" style="margin: 0; padding: 0;">
                <nav class="navbar navbar-dark bg-dark" style="margin: 0;">
                    <div class="">
                        <img id="imagen" src="img/definitive2.svg" alt=""></img>
                        <a class="navbar-brand text-white-50" href="#"><span class="tittle">mong</span></a>
                    </div>
                    <ul class="nav justify-content-end mt-2">
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/">
                                <i class="fas fa-home"></i>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/game">
                                <i class="fas fa-play"></i>
                                <span> Game </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/contact">
                                <i class="fas fa-address-book"></i>
                                <span> Contacto </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row justify-content-center" id="main-content" style="margin: 0;">
            <div class="main">