<%- include('includes/header.ejs')%>
<link rel="stylesheet" href="css/rememberOrderTask.css">
<%- include('includes/nav.ejs')%>
<div class="row canvas-box" style="margin: 0; padding: 0;">
    <div class="col-6" style="margin: 0; padding: 0;">
        <canvas height="430" width="460" id="canvas1"></canvas>
    </div>
    <div class="col-6">
        <canvas height="430" width="460" id="canvas2"></canvas>
    </div>
</div>
<%-include('includes/footer.ejs')%>
<script src="../controller/missions/taskRemember.js"></script>
<%-include('includes/scripts.ejs')%>